* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

                            /* HEADER */
header{
    background-image: url(./bdae9M\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:inherit;
}
.logo{
    background-color: white;
    width: 50px;
    height: 50px;
    margin-top: 40px;
    margin-left: 50px;
    border-radius: 100%;
    
}
.Header__pagename{
    
    box-sizing: border-box;
    font-size: 45px;
    margin-top: 40px;
    margin-left: 110px;
    position: absolute;
    color: white;
}
.Nav__Primary{
    display: flex;
    width: 100%;
    height: 110px;
}
.Nav__Secondary{
   margin-top: 25px;
    display: flex;
    width: 100%;
    
}
.nav__list-user{
    right: 0;
    position: absolute;
    width: 250px;
    
}
.nav__list-user_A{
    font-size: 20px;
    margin: 10px 5px 10px 10px;
    padding: 0px 5px;
    border: none;
    background-color: transparent ;
    color: white;
}
.nav__list-user_B{
    font-size: 20px;
    margin: 10px 10px 10px 5px;
    padding: 0px 5px;
    border: none;
    background-color: transparent ;
    color: white;
}

.nav__list-page{
    list-style: none;
    display: flex;
    padding-left: 10px;
    

    
}
.nav__list-page li{
    /* padding: 10px 40px 10px 40px; */
    font-size: 20px;
}
.nav__list-page li button{
    width: 180px;
    height: 40px;
    font-size: 20px;
    border:none;
    background-color: transparent ;
    color: white;
}


.header__Title{
    display: inline-block;
    font-size: 40px;
    margin:55px 100px 50px 40px;
    color: white;
}

.header__Search{
    margin-left: 40px;
    margin-bottom: 15px;
    display: flex;
    width: 550px;
    background-color: white;
    border-radius: 5px;
   
}
.Search__input-address{
    height: 60px;
    width: 450px;
    font-size: 20px;
    border: none;
    padding-left: 10px;
    border-radius: 5px;
}
.Search__button{
    width: 150px;
    height: 50px;
    border: none;
    margin-top:5px ;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    background-color: rgb(44, 112, 238);
}
.header__subtitle{
    margin:10px 100px 10px 40px;
    color: white;
}

