* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
    
}

:root{
    --headerbackgrouncolor: #2259b3;
    --fontcolorheader: #000000;
    --footerbackground: #eff0f3;
    --footertitle: #0d0d0d;
    --footertext: #2a2a2a;
    --footercreator: #ff8e3c;
    --main-font-letter: 'Montserrat', sans-serif;
}
@font-face {
    font-family: Roboto;
    src: url('./assets/Roboto/Roboto-Thin.ttf');
}
                          /* NAVBAR */
header{
    background-color: var(--footerbackground);
    width: 100vw;
}
.logo {
    position: absolute;
    width: 100px;
    height: 100px;
    margin-left: 40px;
    border-radius: 100%;
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.22);
    position: relative;
    
}

.Nav__primary{
    width: 100vw;
    height: 65px;
    padding: 15px 0px 10px 0px;
    display: flex;
    position: sticky;
    top: 0;
    background-color: var(--footerbackground);
    box-shadow: 0 10px 20px rgba(0,0,0,.19),0 6px 6px rgba(0,0,0,.22);
    z-index: 100;
}
.nav__list-user_A{
    width: 140px;
    height: 35px;
    font-size: 25px;
    padding: 0px 5px;
    border: none;
    border-radius: 5px;
    background-color: var(--headerbackgrouncolor);
    color: var(--footerbackground);
    box-shadow: #000000 0px 0px 3px;
    font-family: var(--main-font-letter);
}
.nav__list-user_A:hover{
    background-color: var(--footertext);
    transition: 0.5s;
    
}
.nav__list-user{
    width: 48%;
    display: flex;
    justify-content: flex-end;
}
.nav__list-user_B{
    width: 140px;
    height: 35px;
    font-size: 25px;
    padding: 0px 5px;
    border: none;
    background-color: transparent;
    color: var(--fontcolorheader);
    font-family: var(--main-font-letter);
}
.nav__list-page{
    list-style: none;
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.nav__list-page li{
    font-size: 20px;
}
.nav__list-page li a{
    font-size: 25px;
    border:none;
    background-color: transparent;
    text-shadow: 1px 1px 2px rgb(114, 114, 114);
    color: var(--headerbackgrouncolor);
    font-family: var(--main-font-letter);
        
}
.nav__list-page li a:hover{
    transition: 0.3s;
    border-bottom: solid 4px var(--headerbackgrouncolor);
    
}
                /* main */

.contact__title{
    text-align: center;
    margin-top: 40px;
    font-size: 30px;
    color: var(--footertitle);
    background-color: #ffffff;
    font-family: var(--main-font-letter);
}
main{
    margin:60px 0px 0px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}
form{
    border: 3px solid var(--headerbackgrouncolor);
    padding: 35px 50px 35px 50px;
    border-radius: 50px;
}
.contact__form-group{
    margin-bottom: 15px;;
    
}
label{
    display: block;
    font-family: var(--main-font-letter);
    font-size: 20px;
}
input{
    display: block;
    font-family: var(--main-font-letter);
    width: 350px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}
select , option{
    font-family: var(--main-font-letter);
    width: 350px;
    height: 30px;
    font-size: 20px;
    padding-left: 10px;
}
.contact__form-cv{
    padding: 0;
    
}
.contact__form-buttons{
    width: 350px;
    display: flex;
    justify-content: space-between;
}
.contact__form-buttons :nth-child(1){
    width: 150px;
    border: none;
    color: white;
    background-color: var(--headerbackgrouncolor);
    border-radius: 30px;
}
.contact__form-buttons :nth-child(2){
    width: 150px;
    border: none;
    color: white;
    background-color: var(--headerbackgrouncolor);
    border-radius: 30px;
}
.contact__form-comentarios{
    width: 350px;
    height: 150px;
    padding-left: 5px;
    font-size:20px;
    font-family: var(--main-font-letter);
}


                            /*FOOTER*/
footer{
    width: 100vw;
    height: 50vh;
    background: var(--footerbackground);
    display: flex;
    align-items: center;
    justify-content: center;
}
.FooterContainer{
    width: 80%;
    height: 100%;
    color: var(--footertext);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.Topfooter{
    width: 100%;
    height: 10vh;
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
img{
    width: 50px;
    height: 50px;
}
footer ul{
    width: 20%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: var(--footertitle);
}a:hover{
    color: var(--footercreator);
    transition: 1s;
}
.Centerfooter{
    width: 60%;
    height: 20vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Bottfooter{
    padding-top: 2%;
}
i{
    color: var(--footercreator);
}